ul {
  padding: 0;
  margin: 0;
  display: flex;
}

ul li {
  display: inline-block;
  margin: 0 5px;
  white-space: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.active {
  color: red;
}
