<ul [ngStyle]="{ 'background-color': backgroundColor }">
  <li *ngFor="let menu of menus; let i = index; trackBy: trackByItem">
    <a
      [ngStyle]="{
        color: menu.link === selectedTabLink ? titleActiveColor : titleColor
      }"
      (click)="handleSelect(i)"
      >{{ menu.title }}</a
    >
    <span
      class="indicator"
      [ngStyle]="{ 'background-color': indicatorColor }"
      *ngIf="menu.link === selectedTabLink"
    ></span>
    <!-- <span *ngIf="i === selectedIndex; else elseTemp"></span>
    <ng-template #elseTemp></ng-template> -->
  </li>
</ul>
<ng-content></ng-content>
